@function invert($color, $amount: 100%) {
    $inverse: change-color($color, $hue: hue($color) * 180);
    @return mix($inverse, $color, $amount)
};

.btn-special{
    background: invert(#fff, 50%);
}